html,body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik';
    letter-spacing: 0.5px;
    overflow: hidden;
}


/* element */
  
.let_space{
    letter-spacing: 2px;
}


.c_grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2vmax;
}
   
.grid{
    display: grid;
    grid-gap: 2vmax;
}
   
.box2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
  
.box3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 

/* element */

.table_cont{
    overflow-x: scroll;
    width: 70vw;
}

table {
    border-collapse: collapse;
    letter-spacing: 3px;
    /* width: 100%; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1vmax;
    width: fit-content;
}

form{
    margin: 2vmax 10vmax;
    padding:3vmax;
    border: 1px solid #dddddd;
}

label{
    font-size: 1.5vmax;
    text-align: right;
}

label:after{
    content: ": ";
}

input{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
}

select{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

option{
    font-size: 1.5vmax;
    letter-spacing: 3px;
}

.file_submit{
  margin-top: 1vmax;
  border: 1px solid #55acee;
  outline: none;
  background-color: #55acee;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 3px;
}

.file_submit:hover{
  background-color: white;
  color: #55acee
}

/* loading icon */
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* flash message */
.message {
    margin: 2vmax 10vmax;
    padding:3vmax;
    font-size: 1.5vmax;
    letter-spacing: 3px;
    background-color: bisque;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: royalblue;
  }

  .results {
    max-height: 700;
    max-width: 1200;
    overflow: auto;
    margin: auto;
    background-color: #f4f4f4;
    border-style: groove;
  }

  .file-viewer {
    background-color: #333;
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    padding-top: 1px;
    width: 180;
  }
  
  .file-viewer a {
    padding: 5px 5px 8px 5px;
    text-decoration: none;
    font-size: 12;
    color: white;
    display: block;
  }
  .file-viewer p {
    padding: 5px 5px 8px 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
  }

  .file-viewer a:hover {
    color: royalblue;
  }

  .file-title {
    margin: auto;
    text-align: center;
    font-size: 1.5vmax;
    padding: 20px;
  }

  .key-metrics {
      margin: auto;
      text-align: center;
      padding: 10px;
  }
  .metric-list {
      display: table;
      margin: 0 auto;
      padding: 10px;
  }